.outLabel{
    position: absolute;
    right: 47%;
    top: 18%;
}

.outarea{
    position: absolute;
    right: 10%;
    top: 200px;
    resize: none;
}

.inputarea{
    position: absolute;
    left: 7%;
    top: 200px;
    resize: none;
}

.line-numbers {
    position: absolute;
    left: 3%;
    top: 194px;
    width: 1em; 
    padding: 10px;
    font-family: monospace;
    background-color: #f0f0f0;
    border-right: 1px solid #ccc;
    text-align: right;
    user-select: none;
}

.executeB{
    position: absolute;
    top: 21%;
    right: 85%;
}

.input{
    position: absolute;
    left: 7%;
}

.keyword {
    color: blue;
    font-weight: bold;
}
